.span9, .span3 {
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.span12 {
	background-color: #2F4F4F;
	color: white;
}

h4 {
	color: #2F4F4F;
	text-align: center;
}

.span3 p{
	text-align: justify;
	letter-spacing: 1px;
}

.span12 h1 {
	padding-left: 20px;
}

#main_table {
	margin-top: 10px;
}
#result {
	padding-top: 40px;
	padding-left: 20px;
}

input[type=checkbox]:checked  + #result{
	background-color: red;
}

.span12 h6 {
	text-align: center;
	font-style: italic;
}

.span3 {
	margin: 10 0 10 0;
	background-color: white;
  	-webkit-border-radius: 8px;       
 	border-radius: 8px;
  	box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

.span9 h4 {
	text-align: justify;
	font-weight: lighter;
	color: black;
	line-height: 27px;
}

h3 {
	font-style: italic;
	text-decoration: underline;
}

caption {
	font-style: italic;
	font-size: 1.5em;
	padding: 10px;
}