%% ex: ft=erlang
{sys, [
    {lib_dirs, ["../apps", "../deps"]},
    {app_file, strip},
    {rel, "stp", "0.0.1", [
        kernel,
        stdlib,
        lager,
        mimetypes,
        crypto,
        ranch,
        cowboy,
        stp
    ]},
    {rel, "start_clean", "", [kernel, stdlib]},
    {boot_rel, "stp"},
    {profile, embedded},
    {incl_cond, derived},
    {excl_archive_filters, [".*"]}, %% Do not archive built libs
    {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                        "^erts.*/bin/(dialyzer|typer)",
                        "^erts.*/(doc|info|include|lib|man|src)"]},
    {excl_app_filters, ["\.gitignore"]},
    {app, stp, [{mod_cond, app}, {incl_cond, include}]},
    {app, hipe, [{incl_cond, exclude}]}
]}.

{target_dir, "stp"}.

{overlay, [
    {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
    {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
    {copy, "stp/bin/start_clean.boot",
           "\{\{erts_vsn\}\}/bin/start_clean.boot"},
    {copy, "files/stp", "bin/stp"},
    {copy, "files/install_upgrade.escript",
           "bin/install_upgrade.escript"},
    {copy, "files/sys.config",
           "releases/\{\{rel_vsn\}\}/sys.config"},
    {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
]}.
