[
    {stp ,[
        {port, 3988},
        {ip, {127,0,0,1}}
    ]},

    {lager, [
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
            {lager_file_backend, [{file, "log/debug.log"}, {level, debug}]}
        ]},
        {colored, true} %% Just for fun
    ]}
].
